body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://img.freepik.com/free-vector/people-holding-their-creativity-vector-cute-doodle-icons-set_53876-111621.jpg?w=1800&t=st=1696498907~exp=1696499507~hmac=19f70b0140116ad56e9a2c866fe0475164b7b56462a00d97652e257f3827323a');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    color: #fff;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 255, 0.5); 
}

.btn > button {
    color: #fff; 
    border: none;
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn > button{
    background-color: lightyellow;
}

.btn > button:hover {
    background-color: yellow; 
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

.message {
    margin-top: 20px;
    text-align: center;
}

.success {
    color: #009900;
    font-weight: bold;
}

.error {
    color: #FF0000;
    font-weight: bold;
}